<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Blogly – {% block title %}{% endblock %}</title>
  <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
 
  <ul class="nav-ul">
    <li><a class="nav1-link" href="/users">Users</a></li>
    <li><a class="nav1-link" href="/users/new">Add user</a></li>
    <li><a class="nav1-link" href="#contact">Contact</a></li>
  </ul>
  <div class="container mt-5">
    {% block content %}
     <!-- put the content here  -->
    {% endblock %}
  </div>


</body>
</html>

